<%= simple_form_for Favorite.new, url: favorites_create_path, remote: true do |f| %>
	<div><%= hidden_field_tag :list_id, @list.id %></div>
  <%= f.button :submit, "Favorite", id:"favorite-btn" %>
<% end %>