<div id="list-show" class="panel panel-title panel-default">
  <h2><%= @list.title %></h2>

  <ul id="list-tasks">
    <%if @tasks%>
      <% @tasks.each do |task|%>
        <li>
          <% @task = task %>
          <%= render 'tasks/the_task', locals: {:@task => @task} %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <% if current_user.id == @list.user_id %>
    <%= render 'tasks/new', locals: {:@list => @list} %>
  <% end %>

</div>