a = "user-lists" + <%= @lists.first.user_id.to_s %>
$("#" + a).remove()
$("#" + <%= @lists.first.user_id.to_s %>).html("<div id=" + a + "></div>")

<% @lists.each do |list| %>
  $("#" + a).append("<%= escape_javascript("#{link_to list.title, lists_show_path(id: list.id), remote: true}").html_safe %>");
<% end %>

console.log(a)
