<div id="task-div" class="row">
  <div id="description-div" class="col-lg-10">
    <textarea id="task-area" class="form-control" placeholder="Task description"></textarea>
  </div>

  <div class="col-lg-2">
    <div id="create-task-div">
      <button type="button" id="create-task" class="btn btn-success">Add Task</button>
    </div>
  </div>
</div>

<hr />