<div id="task-div" class="row">
  <%= simple_form_for Task.new, url: tasks_create_path(list_id: @list.id), remote: true do |f| %>
    <div id="description-div" class="col-lg-10">
      <%= f.input :description, label: false, placeholder: "Task description...", as: :text %>
    </div>
    <div class="col-lg-2">
      <%= f.button :submit, "Add Task", id: "task-submit", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>

<hr />