<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Users",     '#' %></li>
        <li><%= link_to "Favorites", '#' %></li>
        <li><%= link_to "Settings",  '#' %></li>
      </ul>
    </nav>
  </div>
</header>