<div id="sidebar-wrapper">
  <nav id="spy">
    <ul class="sidebar-nav nav">
      <li class="sidebar-brand">
      </li>
      <li class="sidebar-brand">
        <a href="#"><span class="fa fa-home solo">My Task Lists</span></a>
      </li>
      <li>
        <a href="#anch1" data-scroll>
          <span class="fa fa-anchor solo">New List</span>
        </a>
      </li>
      <li>
        <a href="#anch1" data-scroll>
          <span class="fa fa-anchor solo">Anchor 1</span>
        </a>
      </li>
      <li>
        <a href="#anch2" data-scroll>
          <span class="fa fa-anchor solo">Anchor 2</span>
        </a>
      </li>
      <li>
        <a href="#anch3" data-scroll>
          <span class="fa fa-anchor solo">Anchor 3</span>
        </a>
      </li>
      <li>
        <a href="#anch4" data-scroll>
          <span class="fa fa-anchor solo">Anchor 4</span>
        </a>
      </li>
    </ul>
  </nav>
</div>