<div id="sidebar-wrapper">
  <nav id="spy">
    <ul class="sidebar-nav nav">
      <li class="sidebar-brand">
      </li>
      <li class="sidebar-brand">
        <a href="#"><span class="fa fa-home solo">My Task Lists</span></a>
      </li>
      <li>
        <a href="#" data-scroll>
          <span class="fa fa-anchor solo">New List</span>
        </a>
      </li>

      <% @lists.each do |list|%>
        <li>
          <a href="#" data-scroll>
            <span class="fa fa-anchor solo"><%= list.title %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>