<div id="sidebar-wrapper">
  <nav id="spy">
    <ul class="sidebar-nav nav">
      <li class="sidebar-brand">
      </li>
      <li class="sidebar-brand">
        <a href="#"><span class="fa fa-home solo">User lists</span></a>
      </li>

      <% @users.each do |user|%>
        <li >
          <%= link_to user.name, lists_index_path(user_id: user.id), remote: true, type: "hidden", "data-target" => "##{user.id}", "data-toggle" => "collapse"%>

          <div class="collapse" id="<%= user.id %>">
            <div id="<%= "user-lists" + user.id.to_s %>"></div>
          </div>
        </li>
      <% end %>

    </ul>
  </nav>
</div>