<%= render 'home/header' %>
<%= render 'home/sidebar' %>

<div id="main-list" class="container">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row">
        <div id="list-title-div" class="col-lg-7">
          <input type="text" id="list-title" class="form-control" placeholder="List title">
        </div>

        <div class="col-lg-3">
          <div class="btn-group" data-toggle="buttons">
            <label id="public-option" class="btn btn-primary active">
              <input type="radio" name="options" autocomplete="off"> Public
            </label>
            <label id="private-option" class="btn btn-primary">
              <input type="radio" name="options" autocomplete="off"> Private
            </label>
          </div>
        </div>
        <div class="col-lg-2">
          <div id="create-list-div">
            <button type="button" id="create-list" class="btn btn-success">Create</button>
          </div>
        </div>
      </div>

      <br><br>

      <div id="list-title-label">
      </div>

      <div id="list-title" ></div>

      <div id="new-task" ></div>

      <div id="new-task-form" ></div>

    </div>
  </div>
</div>